/* global css */

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Utility classes for positioning */
.rr-pos-rel {
  position: relative;
}

.rr-pos-abs {
  position: absolute;
}

.rr-ov-hidden {
  overflow: hidden;
}

/* Container with max-width and padding */
.rr-container-1900 {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.rr-container-1850 {
  max-width: 1850px;
}

/* Background color classes */
.rr-bg-primary {
  background-color: var(--primary);
  /* Primary background color */
}

.rr-bg-white {
  background-color: var(--white);
  /* White background color */
}

.rr-text-white {
  color: var(--white);
}

.rr-text-black {
  color: var(--black);
}

.text-gray {
  color: #555555;
}

/* Full background image styling */
.rr-bg-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Centering utility */
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Parallax view styling */
.parallax-view {
  overflow: hidden;
}

.section-subtitle {
  font-family: var(--font_bdogrotesk);
  font-size: 16px;
  font-weight: 500;
  padding: 7px 8px;
  line-height: 14px;
  padding-left: 20px;
  position: relative;
  border-radius: 500px;
  color: var(--primary);
  display: inline-block;
  border: 1px solid var(--black);
  text-transform: capitalize;

  &::before {
    top: 50%;
    width: 6px;
    left: 12px;
    height: 6px;
    content: "";
    position: absolute;
    border-radius: 500px;
    background-color: var(--black);
    transform: translate(-50%, -50%);
  }
}

/* Section title styling with responsive font sizes */
.section-title {
  font-size: 90px;

  @media #{$xxl} {
    font-size: 70px;
  }

  @media #{$xl} {
    font-size: 60px;
  }

  @media #{$lg} {
    font-size: 50px;
  }

  @media #{$md} {
    font-size: 40px;
  }

  @media #{$sm} {
    font-size: 35px;
  }

  /* Specific font family and weight */
  &.font-bdogrotesk-regular {
    font-family: var(--font_bdogrotesk);
    font-weight: 400;
    line-height: 0.94;
    letter-spacing: -0.05em;
  }
}

/* Section spacing with responsive padding */

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt159 {
  padding-top: 259px;

  @media #{$xxl} {
    padding-top: 209px;
  }

  @media #{$xl} {
    padding-top: 159px;
  }

  @media #{$lg} {
    padding-top: 109px;
  }
}

.pt-220 {
  padding-top: 220px;

  @media #{$xxl} {
    padding-top: 209px;
  }

  @media #{$xl} {
    padding-top: 159px;
  }

  @media #{$lg} {
    padding-top: 109px;
  }
}

.section-spacing-200 {
  padding-top: 200px;
  padding-bottom: 200px;

  @media #{$xxl} {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @media #{$xl} {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media #{$lg} {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-spacing-150 {
  padding-top: 150px;
  padding-bottom: 150px;

  @media #{$xxl} {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media #{$xl} {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media #{$lg} {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media #{$md} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-spacing-top-150 {
  padding-top: 150px;

  @media #{$xxl} {
    padding-top: 120px;
  }

  @media #{$xl} {
    padding-top: 100px;
  }

  @media #{$lg} {
    padding-top: 80px;
  }

  @media #{$md} {
    padding-top: 60px;
  }
}

.section-spacing-top-130 {
  padding-top: 130px;

  @media #{$xl} {
    padding-top: 100px;
  }

  @media #{$lg} {
    padding-top: 80px;
  }

  @media #{$md} {
    padding-top: 60px;
  }
}

.section-spacing-130 {
  padding-top: 130px;
  padding-bottom: 130px;

  @media #{$xxl} {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @media #{$xl} {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media #{$lg} {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media #{$md} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;

  @media #{$xxl} {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @media #{$xl} {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media #{$lg} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-spacing-top {
  padding-top: 100px;

  @media #{$xxl} {
    padding-top: 90px;
  }

  @media #{$xl} {
    padding-top: 80px;
  }

  @media #{$lg} {
    padding-top: 60px;
  }
}

.section-spacing-bottom {
  padding-bottom: 100px;

  @media #{$xxl} {
    padding-bottom: 90px;
  }

  @media #{$xl} {
    padding-bottom: 80px;
  }

  @media #{$lg} {
    padding-bottom: 60px;
  }
}

/* Container styling with full HD support */
.container {
  --bs-gutter-x: 30px;

  &.full-hd {
    @media (min-width: 1600px) {
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/* Inverted text style */
.text-invert>div {
  background-image: linear-gradient(to right,
      var(--primary) 50%,
      #CDC9C6 51%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Side info and offcanvas styling */
.offcanvas-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 900;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.offcanvas-overlay.overlay-open {
  opacity: 0.5;
  visibility: visible;
}

.side-info-close {
  font-size: 20px;
  padding: 0;
  transition: all 0.3s linear;
  background-color: var(--white);
  color: var(--black);
  width: 40px;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 50%;
  line-height: 38px;

  &:hover {
    transform: rotate(90deg);
    /* Rotate button on hover */
  }
}

.side-info {
  background: var(--white) none repeat scroll 0 0;
  padding: 40px 45px;
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  height: 100%;
  transform: translateX(calc(100% + 80px));
  transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
  z-index: 9999;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
  }

  @media #{$xs} {
    width: 100%;
    padding: 30px 30px;
  }

  &.info-open {
    opacity: 1;
    transform: (translateX(0));
    /* Show side info */
  }
}

/* Offset header and logo styling */
.offset {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    width: 95px;

    @media #{$xs} {
      width: 95px;
    }

    img {
      width: 100%;
    }
  }

  &-button {
    margin-top: 40px;

    @media (min-width: 576px) {
      display: none;
    }
  }
}

/* Offset widget box styling */
.offset-widget-box {
  margin-top: 40px;

  .title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 15px;

    @media #{$xxl} {
      margin-bottom: 22px;
    }
  }

  .contact-meta>*:not(:first-child) {
    margin-top: 16px;
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 14px;

    span {
      color: var(--black);
      font-weight: 500;

      a {
        &:hover {
          color: var(--secondary);
        }
      }
    }

    .icon {
      width: 40px;
      min-width: 40px;
      height: 40px;
      display: inline-flex;
      border: 1px solid var(--black);
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: var(--black);
    }
  }
}

/* Mobile menu customization */
.mobile-menu {
  margin-top: 40px;

  &.mean-container {
    .mean-nav>ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style-type: none;
      display: block !important;

      >li:last-child>a {
        border-bottom: 1px solid var(--border);
      }
    }

    .mean-nav {
      background: none;
      margin-top: 0;

      .new {
        font-size: 10px;
        font-weight: 600;
        background: #FFA38E;
        color: var(--black-2);
        padding: 3px 7px;
        line-height: 1;
        display: flex;
        align-items: center;
        border-radius: 2px;
      }

      ul li {
        a {
          width: 100%;
          padding: 15px 0;
          padding-inline-start: 0px;
          font-weight: 500;
          font-size: 18px;
          line-height: 1;
          color: var(--black);
          text-transform: capitalize;
          border-top: 1px solid var(--border);
          display: flex;
          gap: 8px;
          justify-content: flex-start;
          align-items: center;
          outline: none;
          transform: translateY(var(--y)) translateZ(0);
          transition: transform .4s ease, box-shadow .4s ease;
          box-sizing: border-box;
          opacity: 1;

          @media #{$sm} {
            font-size: 20px;
          }

          &:hover {
            color: var(--secondary);
          }

          &.mean-expand {
            width: 100%;
            height: 48px;
            justify-content: end;
            font-weight: 300;
            border: none !important;

            @media #{$sm} {
              height: 50px;
            }

            &:hover {
              background: transparent;
              opacity: 1;
            }
          }
        }

        li {
          &:first-child {
            border-top: 1px solid var(--border);
          }

          a {
            font-size: 16px;
            text-transform: capitalize;
            border-top: none !important;
            padding: 12px 0;
            padding-inline-start: 15px;

            &.mean-expand {
              height: 58px;

              @media #{$md} {
                height: 25px;
              }

              @media #{$sm} {
                height: 22px;
              }
            }
          }

          li {
            &:last-child {
              border-bottom: 1px solid var(--border);
            }

            a {
              padding-left: 40px;
            }
          }
        }
      }
    }

    .mean-bar {
      padding-bottom: 30px;
      background: none;
      max-height: auto;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    a.meanmenu-reveal {
      display: none !important;
    }
  }
}

/* Body page inner styling */
.body {
  &-page-inner {
    position: relative;
    z-index: 100;
    background-color: #FFFFFF;

    .container {
      &.large {
        @media (min-width: 1650px) {
          max-width: 1650px;
          --container-max-widths: 1620px;
          --bs-gutter-x: 30px;
        }
      }
    }

    .section-title {
      font-size: 100px;
      letter-spacing: -0.07em;

      @media #{$xxl} {
        font-size: 80px;
      }

      @media #{$xl} {
        font-size: 60px;
      }

      @media #{$lg} {
        font-size: 50px;
      }

      @media #{$md} {
        font-size: 40px;
      }

      @media #{$sm} {
        font-size: 35px;
      }

      &.large {
        font-size: 64px;

        @media #{$xxl} {
          font-size: 56px;
        }

        @media #{$lg} {
          font-size: 48px;
        }

        @media #{$md} {
          font-size: 42px;
        }

        @media #{$sm} {
          font-size: 36px;
        }
      }
    }

    .header-area-2 .side-toggle {
      background-color: rgba(243, 243, 243, 1);

      @include dark {
        background-color: #1D1C1C;
      }
    }

    .header-area-2__inner {
      border-bottom: 1px solid var(--border);
    }
  }
}

/* Sticky header styling */
.header-sticky {
  transition: all 0.5s;
}

.transformed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 800;
  transform: translateY(-100%);

  .header-area__inner {
    height: 80px;
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 800;
  background-color: #FFFFFF;
  transform: translateY(0%);

  .header-area__inner {
    height: 80px;
  }
}