@import "utils/index";
@import "components/index";

@import "pages/header";
@import "pages/digital-agency";
@import "pages/startup-agency";


/* footer area style  */
.footer-area {

    .footer-widget-wrapper-box {
        border-top: 1px solid rgba(17, 17, 17, 0.10);
        border-bottom: 1px solid rgba(17, 17, 17, 0.10);
        padding: 100px 0px;
        position: relative;

        @media #{$xxl} {
            padding: 70px 0;
        }

        @media #{$lg} {
            padding: 50px 0;
        }

        &::before {
            content: "";
            position: absolute;
            right: 795px;
            background-color: rgba(17, 17, 17, 0.10);
            width: 1px;
            height: 100%;
            top: 0;

            @media #{$xxl} {
                right: 670px;
            }

            @media #{$xl} {
                right: 580px;
            }

            @media #{$lg} {
                right: 480px;
            }

            @media #{$md} {
                display: none;
            }
        }

        .content {
            .title {
                font-size: 90px;
                font-weight: 400;
                line-height: 85px;
                letter-spacing: -3.5px;
                font-family: var(--font_bdogrotesk);
                color: var(--black);
                display: inline-block;

                @media #{$xxl} {
                    font-size: 80px;
                    line-height: 85px;
                }

                @media #{$xl} {
                    font-size: 70px;
                    line-height: 74px;
                }

                @media #{$lg} {
                    font-size: 60px;
                    line-height: 70px;
                }

                @media #{$md} {
                    font-size: 43px;
                    line-height: 50px;
                    letter-spacing: 0;
                }

                @media #{$xs} {
                    font-size: 35px;
                    line-height: 45px;
                }
            }
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xxl} {
            gap: 30px 140px;
        }

        @media #{$xl} {
            gap: 30px 100px;
        }

        @media #{$lg} {
            gap: 30px 53px;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }


    }

    .footer-nav-list {

        &:hover {

            li a {
                opacity: 0.3;
            }
        }

        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            a {
                display: block;

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }
            }

        }
    }

    .copyright-area-inner {
        border-top: 1px solid var(--border);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 22px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xl} {
                font-size: 20px;
            }

            a {
                color: #999999;
                transition: all 0.3s;
                position: relative;

                &::before {
                    width: 0%;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: var(--black);

                    @include dark {
                        color: var(--white);
                    }

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}