.rr-btn-classic {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--black);
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px;
    background-color: #FB7515;
    width: 100%;

    &:hover {
        background-color: var(--black);
        color: var(--white);

        .icon {
            .first {
                transform: translate(100%, -100%) rotate(-45deg);
            }

            .second {
                transform: translate(0%, 0%) rotate(-45deg);
            }
        }
    }

    .icon {
        display: inline-block;
        line-height: 0;
        position: relative;
        overflow: hidden;


        .first {
            transition: all 0.3s;
            transform: rotate(-45deg);
        }

        .second {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-100%, 100%) rotate(-45deg);
            transition: all 0.3s;
            box-sizing: content-box;
            padding: var(--white-space);
        }
    }
}

.space-t-50 {
    margin-top: 50px;
}

.rr-line-area {
    position: relative;
    z-index: 1;
}

.rr-h-line {
    width: 100%;
    height: 1px;
    background-color: rgba(17, 17, 17, 0.15);
}

.rr-v-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -1;

    .rr-line {
        width: 1px;
        height: 100%;
        background-color: rgba(17, 17, 17, 0.15);
    }
}

.outerline-left {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 5000px;
        height: 1px;
        background-color: rgba(17, 17, 17, 0.15);
        top: 0;
        right: 100%;
    }
}

.outerline-right {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 5000px;
        height: 1px;
        background-color: rgba(17, 17, 17, 0.15);
        top: 0;
        left: 100%;
    }
}

.diagonal-line-right {
    position: absolute;
    right: 0;

    &:before {
        position: absolute;
        content: "";
        width: 170px;
        height: 3px;
        background-color: #F5F5F5;
        left: -170px;
        top: -1px;
    }

    &:after {
        position: absolute;
        content: "";
        width: 200px;
        height: 1px;
        background-color: rgba(17, 17, 17, 0.15);
        left: -170px;
        top: 0;
        transform: rotate(32deg);
        transform-origin: top left;
    }
}


.corner-shape-border {
    width: 100%;
    height: 100%;
    position: relative;

    .shape-1 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-left: 1px solid var(--primary);
        border-top: 1px solid var(--primary);
        top: 0;
        left: 0;
    }

    .shape-2 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-top: 1px solid var(--primary);
        border-right: 1px solid var(--primary);
        top: 0;
        right: 0;
    }

    .shape-3 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-right: 1px solid var(--primary);
        border-bottom: 1px solid var(--primary);
        right: 0;
        bottom: 0;
    }

    .shape-4 {
        position: absolute;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid var(--primary);
        border-left: 1px solid var(--primary);
        bottom: 0;
        left: 0;
    }
}





/* hero area 17 style  */
.hero-area-17 {
    background-color: #F5F5F5;
}

.hero-17-inner {
    position: relative;
    padding-top: 151px;
}

.area-shape-1 {
    position: absolute;
    bottom: 0;
    left: 225px;
    z-index: 2;
}

.hero-17-header {
    padding: 71px 61px 80px 20px;
}

.hero-17-title {
    font-family: var(--font_astronebula);
    font-weight: 300;
    font-size: 135px;
    line-height: 0.85;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.hero-17-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    .location-wrapper {
        position: relative;
    }

    .location {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        display: block;
        color: var(--primary);
        padding: 13px 20px;
    }

    .experience-wrapper {
        display: flex;
        flex-direction: column;
    }

    .experience {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        display: block;
        color: var(--primary);
        padding: 13px 20px;
    }

    .year {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 290px;
        line-height: 0.69;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        display: inline-block;
        color: var(--primary);
        padding: 20px 20px;
        margin-top: auto;
    }

    .text-wrapper {
        padding: 13px 20px 20px;
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--primary);
    }



    .btn-wrapper {
        margin-top: 231px;
    }

}

/* service area 17 style  */
.service-area-17 {
    background-color: #F5F5F5;
}

.service-17-header {
    .section-title-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .section-subtitle-5 {
        padding: 13px 20px;
    }

    .title-wrapper {
        padding: 51px 20px 37px;
    }
}

.services-17-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .nav-tabs {
        border: none;

        .nav-link {
            border-radius: 0;
            border: 0;
            padding: 0;
            background-color: transparent;
            width: 100%;
            text-align: start;
            margin: 0;

            &:hover {

                .title {
                    background-color: #FEFEFE;
                }
            }

            &.active {
                background-color: transparent;

                .title {
                    background-color: #FB7515;
                }
            }

        }
    }



    .nav-item {
        width: 100%;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(17, 17, 17, 0.15);
        }
    }

    .tab-pane {
        height: 100%;
    }
}

.service-17-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;



    .number {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        display: block;
        color: var(--primary);
        padding: 22px 20px;
    }

    .title {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--primary);
        padding: 28px 20px 23px;
    }

}


.service-17-content {
    display: grid;
    grid-template-columns: 1fr 245px;
    height: 100%;

    .text-wrapper {
        padding: 29px 30px 23px;
        display: grid;
        border-right: 1px solid rgba(17, 17, 17, 0.15);
        background-color: #F5F5F5;
    }

    .title {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 50px;
        line-height: 0.9;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--primary);
        margin-top: auto;
        max-width: 505px;
    }

    .logo-wrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 100/100;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .bg-area {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #FEFEFE;
            top: 0;
            left: 0;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
        }
    }
}

/* feature area 17 style  */
.feature-area-17 {
    background-color: #F5F5F5;
}

.feature-17-header {
    .section-title-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .section-subtitle-5 {
        padding: 13px 20px;
    }

    .title-wrapper {
        padding: 51px 20px 37px;
    }
}

.features-17-wrapper-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.features-17-wrapper {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
}



.feature-17-box {
    display: grid;
    grid-template-columns: 2fr 1fr;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(17, 17, 17, 0.15);
    }

    .logo-wrapper-box {
        display: grid;
        grid-template-columns: 180px 1fr;
    }

    .logo-wrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 100 / 100;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .bg-area {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #FEFEFE;
            top: 0;
            left: 0;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
        }
    }

    .title-wrapper {
        padding: 28px 30px;
        border-left: 1px solid rgba(17, 17, 17, 0.15);
        background-color: #F5F5F5;
        border-right: 1px solid rgba(17, 17, 17, 0.15);
    }

    .title {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }


    .content {
        padding: 24px 20px;
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--primary);
    }

}


/* fun fact area 17 style  */
.funfact-area-17 {
    background-color: #F5F5F5;
}

.funfact-17-header {
    .section-title-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .section-subtitle-5 {
        padding: 13px 20px;
    }

    .title-wrapper {
        padding: 51px 20px 37px;
    }
}

.funfact-17-content-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.growth-cube-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 110px 80px 116px;

    .bg-area {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #FEFEFE;
        top: 0;
        left: 0;
        padding: 50px;
        z-index: -1;
        border-left: 1px solid rgba(17, 17, 17, 0.15);
        border-right: 1px solid rgba(17, 17, 17, 0.15);
    }

    .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #999999;
    }

    .cubes-wrapper {
        width: 100%;
        max-width: 250px;
        margin-top: 115px;
        margin-inline: auto;
        aspect-ratio: 100 / 94;
        position: relative;

        .cube-1 {
            position: absolute;
            width: 67%;
            top: 0;
            left: 0;
        }

        .cube-2 {
            position: absolute;
            width: 67%;
            bottom: 0;
            left: 0;
        }

        .cube-3 {
            position: absolute;
            width: 50%;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

    }
}

.funfact-17-content {
    display: grid;
    grid-template-columns: 1fr 620px;

    .title-wrapper {
        padding: 28px 20px;
        border-right: 1px solid rgba(17, 17, 17, 0.15);
        background-color: #F5F5F5;
    }

    .title {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    .text-wrapper {
        padding: 24px 20px 30px;
        background-color: #F5F5F5;
        border-right: 1px solid rgba(17, 17, 17, 0.15);
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--primary);
    }



    .btn-wrapper {
        margin-top: 134px;
    }
}

.funfact-17-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.funfact-17-box {
    padding: 26px 20px 15px;

    .text {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--primary);
    }

    .number {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 90px;
        line-height: 0.67;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        display: block;
        color: var(--primary);
        margin-top: 140px;
    }
}

/* portfolio area 17 style  */
.portfolio-area-17 {
    background-color: #F5F5F5;
}

.portfolio-17-header {
    .section-title-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .section-subtitle-5 {
        padding: 13px 20px;
    }

    .title-wrapper {
        padding: 36px 20px 27px;
    }

    .section-title {
        font-size: 290px;
    }
}

.portfolio-17-wrapper {
    padding: 20px;
}

.portfolio-17-item {
    border: 1px solid rgba(17, 17, 17, 0.15);
    background-color: #FEFEFE;

    .meta {
        display: grid;
        grid-template-columns: 1fr 96px;
    }

    .tag {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--primary);
        display: inline-block;
        padding: 12px 20px 9px;
    }

    .year {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--primary);
        display: inline-block;
        padding: 12px 20px 9px;
        border-left: 1px solid rgba(17, 17, 17, 0.15);
    }

    .thumb {
        border-top: 1px solid rgba(17, 17, 17, 0.15);
        border-bottom: 1px solid rgba(17, 17, 17, 0.15);

        img {
            width: 100%;
        }
    }

    .content {
        padding: 15px 20px 12px;
    }

    .title {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

}

.portfolio-17-wrapper {
    position: relative;
}

.portfolio-17-nav {
    position: absolute;
    right: 100%;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
}

.portfolio-17-nav-btn {
    width: 56px;
    height: 62px;
    border: 1px solid rgba(211, 211, 211, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFE;
    transition: all 0.3s;

    &:hover {
        border-color: transparent;
        background-color: #111111;

        svg * {
            fill: #FB7515;
        }
    }

    svg * {
        transition: all 0.3s;

    }
}



/* testimonial area 17 style  */
.testimonial-area-17 {
    background-color: #F5F5F5;
}

.testimonial-17-header {
    .section-title-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .section-subtitle-5 {
        padding: 13px 20px;
    }

    .title-wrapper {
        padding: 51px 20px 37px;
    }
}

.testimonial-17-wrapper {
    padding: 20px;
}


.testimonial-17-wrapper {
    position: relative;
}

.testimonial-17-item {
    border: 1px solid rgba(17, 17, 17, 0.15);
    background-color: #FEFEFE;
    padding: 50px 50px;
    height: 100%;
    position: relative;
    z-index: 1;

    .bg-area {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #FEFEFE;
        top: 0;
        left: 0;
        padding: 20px;
        z-index: -1;
    }

    .text-wrapper {
        margin-top: 36px;
    }

    .text {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        color: #555555;
    }

    .author {
        margin-top: 83px;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .avatar {
        width: 80px;
        height: 80px;
        border: 1px solid rgba(17, 17, 17, 0.15);
    }

    .name {
        font-family: var(--font_astronebula);
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--primary);
    }

    .post {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        display: block;
        margin-top: 4px;
    }
}

.testimonial-17-nav {
    position: absolute;
    right: 100%;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
}

.testimonial-17-nav-btn {
    width: 56px;
    height: 62px;
    border: 1px solid rgba(211, 211, 211, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFE;
    transition: all 0.3s;

    &:hover {
        border-color: transparent;
        background-color: #111111;

        svg * {
            fill: #FB7515;
        }
    }

    svg * {
        transition: all 0.3s;

    }
}