/* hero area 4 style  */
.hero-area-4-inner {
    margin-top: 97px;
    display: grid;
    gap: 40px 60px;
    grid-template-columns: 555px 1025px;
    justify-content: space-between;

    @media #{$xxl} {
        grid-template-columns: 455px 775px;
    }

    @media #{$lg} {
        grid-template-columns: 365px 545px;

    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}

.hero-4-services-wrapper-box-1 {
    margin-top: 3px;
}


.hero-4-services-wrapper-1 {
    display: grid;
    gap: 40px 15px;
    grid-template-columns: 1fr 210px;

    @media #{$xxl} {
        grid-template-columns: 1fr 180px;
    }

    @media #{$lg} {
        grid-template-columns: 1fr 150px;
        gap: 40px 10px;
    }

    @media #{$md} {
        grid-template-columns: 1fr 0.8fr;
    }

    @media #{$xs} {
        grid-template-columns: 1fr;
    }
}


.hero-4-service-box {
    .thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        margin-top: 12px;
    }

    .title {
        font-family: var(--font_bdogrotesk);
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.05em;
        color: var(--primary);
        display: block;
    }
}

.hero-4-section-content {
    margin-left: 225px;

    @media #{$xxl} {
        margin-left: 195px;
    }

    @media #{$lg} {
        margin-left: 160px;
    }

    @media #{$md} {
        margin-left: 0;
    }

    .section-title {
        font-family: var(--font_bdogrotesk);
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.05em;
        color: var(--primary);
        display: block;
    }

    .text-wrapper {
        margin-top: 62px;

        @media #{$lg} {
            margin-top: 32px;
        }

        @media #{$md} {
            margin-top: 22px;
        }
    }

    .text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #555555;
        max-width: 325px;
    }
}

.hero-4-services-wrapper-box-2 {
    margin-top: 94px;

    @media #{$xxl} {
        margin-top: 64px;
    }

    @media #{$lg} {
        margin-top: 44px;
    }
}

.hero-4-services-wrapper-2 {
    display: grid;
    gap: 40px 15px;
    grid-template-columns: 210px 1fr;

    @media #{$xxl} {
        grid-template-columns: 180px 1fr;
    }

    @media #{$lg} {
        grid-template-columns: 150px 1fr;
        gap: 40px 10px;
    }

    @media #{$md} {
        grid-template-columns: 0.8fr 1fr;
    }

    @media #{$xs} {
        grid-template-columns: 1fr;
    }
}


/* about area 4 style  */

.about-4-title-wrapper {

    margin-top: -47px;

    @media #{$lg} {
        margin-top: 50px;
    }

    .section-title {

        @media (min-width:1200px) {
            font-family: var(--font_bdogrotesk);
            font-size: 200px;
            font-weight: 400;
            line-height: 0.83;
            letter-spacing: -0.08em;
            text-transform: uppercase;
        }

        br {
            @media #{$lg} {
                display: none;
            }
        }
    }
}


.about-4-title-shape {
    margin-left: 138px;

    @media #{$lg} {
        display: none;
    }

    img {
        width: 140px;
        height: 140px;
        margin-top: -34px;
    }
}

.about-4-section-content {
    margin-top: 306px;
    margin-bottom: 588px;
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 1fr 625px;

    @media #{$lg} {
        margin-top: 26px;
        margin-bottom: 58px;
        grid-template-columns: 1fr;

    }

    .text {
        font-family: var(--font-bdogrotesk);
        font-weight: 400;
        font-size: 30px;
        line-height: 1;
        letter-spacing: -0.05em;
        color: var(--primary);

        @media #{$lg} {
            font-size: 20px;

        }
    }

    .btn-wrapper {
        margin-top: 36px;
    }
}

/* client area 4 style  */
.clients-4-wrapper-box {
    border-top: 1px solid rgba(17, 17, 17, 0.15);
    padding-top: 44px;
    padding-bottom: 44px;
}

.clients-4-wrapper {
    display: flex;
    gap: 0 30px;
    justify-content: space-between;
    padding: 0 50px;
}

/* service area 4 style  */
.service-4-section-header {
    margin-top: 40px;

    .section-title {
        text-indent: 260px;

        @media #{$xl} {
            text-indent: 220px;
        }

        @media #{$md} {
            text-indent: 0px;
        }
    }

    .title-wrapper {
        margin-top: -48px;

        @media #{$xxl} {
            margin-top: -44px;
        }

        @media #{$xl} {
            margin-top: -42px;
        }

        @media #{$lg} {
            margin-top: -40px;
        }

        @media #{$md} {
            margin-top: 0px;
        }
    }
}

.services-4-wrapper-box {
    margin-top: -6px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 43px;
    display: grid;
    gap: 0 60px;
    grid-template-columns: 1fr 850px;

    @media #{$lg} {
        grid-template-columns: 1fr;
        padding-top: 23px;
    }

    .jump-section-area {
        margin-top: 7px;

        @media #{$lg} {
            display: none;
        }
    }
}

.services-4-wrapper {
    display: grid;
    gap: 37px 60px;
    grid-template-columns: 1fr 1fr;

    @media #{$sm} {
        grid-template-columns: 1fr;
    }
}

.service-box-4 {
    .content {
        display: grid;
        gap: 20px 30px;
        grid-template-columns: 130px 1fr;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .title {
        font-family: var(--font_bdogrotesk);
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.05em;
        margin-top: 4px;
    }

    .service-list {
        li {
            font-family: var(--font_bdogrotesk);
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.05em;
            color: #555555;
        }
    }
}

/* portfolio area 4 style  */
.portfolio-area-4-columns {
    margin-top: 35px;
    display: grid;
    gap: 50px 70px;
    grid-template-columns: 1fr 1fr;

    @media #{$md} {
        gap: 50px 50px;
    }

    @media #{$sm} {
        grid-template-columns: 1fr;
    }

    .col-first {
        order: 2;

        @media #{$sm} {
            order: unset;
        }
    }

    .col-second {
        margin-top: 9px;

        @media #{$sm} {
            margin-top: 0;
        }
    }
}

.portfolio-4-section-header {
    margin-bottom: 24px;

    @media (min-width:1919px) {
        margin-left: 60px;
    }

    @media #{$lg} {
        margin-bottom: 0;
    }

    .title-wrapper {
        margin-top: 28px;

        @media #{$lg} {
            margin-top: 18px;

        }
    }
}

.portfolio-4-wrapper {
    display: grid;
    gap: 150px 0px;
    grid-template-columns: 1fr;



    @media #{$xxl} {
        gap: 120px 0px;
    }

    @media #{$lg} {
        gap: 100px 0px;
    }

    @media #{$md} {
        gap: 50px 0px;
    }

    .portfolio-4-item {
        .content {
            border-color: rgba(255, 255, 255, 0.15);
        }

        .title {
            color: var(--white);

            a:hover {
                color: var(--white);
            }
        }

        .tag {
            color: var(--white);
        }

        .date {
            color: var(--white);
        }

        .rr-btn {
            background: #1A1A1A;

            .btn-wrap {

                .text-one,
                .text-two {
                    color: var(--white);
                }
            }

            &::before {
                background-color: var(--white);
            }

            &:hover {

                .btn-wrap {

                    .text-one,
                    .text-two {
                        color: var(--black);
                    }
                }
            }

        }
    }
}

.portfolio-4-item {

    .thumb {
        border-radius: 15px;
        overflow: hidden;

        img {
            width: 100%;
            cursor: none;
            height: 100%;
            object-fit: cover;

        }
    }

    .content {
        gap: 20px;
        display: flex;
        margin-top: 26px;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(17, 17, 17, 0.15);
        justify-content: space-between;

        @media #{$lg} {
            margin-top: 14px;
            flex-wrap: wrap;
        }


    }

    .title {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.05em;

        @media #{$lg} {
            font-size: 18px;
        }
    }

    .tag {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        display: block;
        letter-spacing: -0.05em;
        font-family: var(--font_bdogrotesk);
        color: var(--primary);

        @media #{$lg} {
            font-size: 18px;
        }
    }

    .date {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.05em;
        display: block;
        font-family: var(--font_bdogrotesk);
        color: var(--primary);

        @media #{$lg} {
            font-size: 18px;
        }
    }

    .rr-btn {
        padding: 12px 13px;
        font-size: 16px;
        font-weight: 500;
        background: #F1F1F1;
        border-color: transparent;

        i {
            margin-left: 5px;
            rotate: -45deg;
            transition: all 0.2s;
        }

        .btn-wrap {

            .text-one,
            .text-two {
                color: var(--primary);
            }
        }

        &::before {
            background-color: var(--primary);
        }

        &:hover {
            i {
                rotate: -0deg;
            }

            .btn-wrap {

                .text-one,
                .text-two {
                    color: var(--white);
                }
            }
        }

    }
}

.portfolio-4-section-footer {
    text-align: center;

    .section-content {
        margin-top: 76px;

        @media #{$xxl} {
            margin-top: 36px;
        }

        @media #{$xl} {
            margin-top: 16px;
        }

        @media #{$md} {
            margin-top: 0px;
        }
    }

    .text {
        font-family: var(--font_bdogrotesk);
        font-weight: 400;
        font-size: 30px;
        line-height: 1;
        letter-spacing: -0.05em;
        color: var(--white);

        @media #{$lg} {
            font-size: 24px;
        }
    }

    .btn-wrapper {
        margin-top: 37px;
        text-align: center;

        @media #{$lg} {
            margin-top: 27px;
        }
    }
}


/* team area 4 style  */
.team-4-wrapper-box {
    margin-top: -6px;
}

.team-4-wrapper {
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$xs} {
        grid-template-columns: repeat(1, 1fr);
    }
}

.team-4-box {
    &:hover {
        .thumb {
            img {
                transform: scale(1.1);
            }
        }
    }

    .thumb {
        overflow: hidden;

        img {
            width: 100%;
            transition: all 0.5s;
        }
    }

    .name {
        font-family: var(--font_bdogrotesk);
        font-size: 18px;
        font-weight: 4000;
        line-height: 1;
        letter-spacing: -0.05em;

        a:hover {
            color: var(--secondary);
        }
    }

    .post {
        font-family: var(--font_bdogrotesk);
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.05em;
        display: inline-block;
        margin-top: 4px;

    }

    .content {
        margin-top: 17px;
    }
}

/* counter area 4 style  */
.counter-4-section-header {
    margin-top: 40px;

    .section-title {
        text-indent: 260px;
        max-width: 1190px;

        @media #{$xxl} {
            max-width: 990px;
        }

        @media #{$xl} {
            text-indent: 220px;
        }

        @media #{$md} {
            text-indent: 0px;
        }
    }

    .title-wrapper {
        margin-top: -48px;

        @media #{$xxl} {
            margin-top: -44px;
        }

        @media #{$xl} {
            margin-top: -42px;
        }

        @media #{$lg} {
            margin-top: -40px;
        }

        @media #{$md} {
            margin-top: 0px;
        }
    }
}

.counter-4-section-content {
    margin-top: -6px;
    border-top: 1px solid rgba(17, 17, 17, 0.15);
    padding-top: 33px;
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 1fr 770px;

    @media #{$lg} {
        grid-template-columns: 1fr;
        padding-top: 23px;
    }

    .jump-section-area {
        margin-top: 17px;

        @media #{$lg} {
            display: none;
        }
    }

    .text-wrapper {
        margin-top: 161px;

        @media #{$lg} {
            margin-top: 0;
        }
    }

    .info-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        max-width: 317px;
    }

}

.counter-4-wrapper {
    display: grid;
    gap: 41px 70px;
    grid-template-columns: 1fr 1fr;

    @media #{$xs} {
        grid-template-columns: 1fr;
    }
}

.counter-4-item {
    .number {
        font-family: var(--font_bdogrotesk);
        font-weight: 400;
        font-size: 90px;
        line-height: 1.83;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: var(--primary);
        display: inline-block;

        @media #{$lg} {
            font-size: 65px;
        }
    }

    .text {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: var(--primary);
        border-top: 1px solid rgba(17, 17, 17, 0.15);
        padding-top: 19px;
        margin-top: 4px;
    }

    &.span-2 {
        grid-column: span 2;

        @media #{$xs} {
            grid-column: auto;
        }

        .number {
            font-size: 200px;
            line-height: 0.83;
            margin-bottom: 44px;

            @media #{$xs} {
                font-size: 65px;
                line-height: 1.83;
                margin-bottom: 0;
            }
        }
    }
}

/* testimonial area 4 style  */
.testimonial-4-section-header {
    margin-top: 87px;

    .section-title {
        text-indent: 260px;
        max-width: 760px;

        @media #{$xl} {
            text-indent: 220px;
        }

        @media #{$md} {
            text-indent: 0px;
        }
    }

    .title-wrapper {
        margin-top: -48px;

        @media #{$xxl} {
            margin-top: -44px;
        }

        @media #{$xl} {
            margin-top: -42px;
        }

        @media #{$lg} {
            margin-top: -40px;
        }

        @media #{$md} {
            margin-top: 0px;
        }
    }
}

.testimonial-4-section-content {
    margin-top: -6px;
    border-top: 1px solid rgba(17, 17, 17, 0.15);
    padding-top: 45px;
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 1fr 770px;

    @media #{$lg} {
        grid-template-columns: 1fr;
        padding-top: 25px;
    }

    .jump-section-area {
        margin-top: 5px;

        @media #{$lg} {
            display: none;
        }
    }
}