/* hero area 4 style  */
.hero-area-4-inner {
    margin-top: 97px;
    display: grid;
    gap: 40px 60px;
    grid-template-columns: 555px 1025px;
    justify-content: space-between;

    @media #{$xxl} {
        grid-template-columns: 455px 775px;
    }

    @media #{$lg} {
        grid-template-columns: 365px 545px;

    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}

.hero-4-services-wrapper-box-1 {
    margin-top: 3px;
}


.hero-4-services-wrapper-1 {
    display: grid;
    gap: 40px 15px;
    grid-template-columns: 1fr 210px;

    @media #{$xxl} {
        grid-template-columns: 1fr 180px;
    }

    @media #{$lg} {
        grid-template-columns: 1fr 150px;
        gap: 40px 10px;
    }

    @media #{$md} {
        grid-template-columns: 1fr 0.8fr;
    }

    @media #{$xs} {
        grid-template-columns: 1fr;
    }
}


.hero-4-service-box {
    .thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        margin-top: 12px;
    }

    .title {
        font-family: var(--font_bdogrotesk);
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.05em;
        color: var(--primary);
        display: block;
    }
}

.hero-4-section-content {
    margin-left: 225px;

    @media #{$xxl} {
        margin-left: 195px;
    }

    @media #{$lg} {
        margin-left: 160px;
    }

    @media #{$md} {
        margin-left: 0;
    }

    .section-title {
        font-family: var(--font_bdogrotesk);
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.05em;
        color: var(--primary);
        display: block;
    }

    .text-wrapper {
        margin-top: 62px;

        @media #{$lg} {
            margin-top: 32px;
        }

        @media #{$md} {
            margin-top: 22px;
        }
    }

    .text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #555555;
        max-width: 325px;
    }
}

.hero-4-services-wrapper-box-2 {
    margin-top: 94px;

    @media #{$xxl} {
        margin-top: 64px;
    }

    @media #{$lg} {
        margin-top: 44px;
    }
}

.hero-4-services-wrapper-2 {
    display: grid;
    gap: 40px 15px;
    grid-template-columns: 210px 1fr;

    @media #{$xxl} {
        grid-template-columns: 180px 1fr;
    }

    @media #{$lg} {
        grid-template-columns: 150px 1fr;
        gap: 40px 10px;
    }

    @media #{$md} {
        grid-template-columns: 0.8fr 1fr;
    }

    @media #{$xs} {
        grid-template-columns: 1fr;
    }
}


/* about area 4 style  */

.about-4-title-wrapper {

    margin-top: -47px;

    @media #{$lg} {
        margin-top: 50px;
    }

    .section-title {

        @media (min-width:1200px) {
            font-family: var(--font_bdogrotesk);
            font-size: 200px;
            font-weight: 400;
            line-height: 0.83;
            letter-spacing: -0.08em;
            text-transform: uppercase;
        }

        br {
            @media #{$lg} {
                display: none;
            }
        }
    }
}


.about-4-title-shape {
    margin-left: 138px;

    @media #{$lg} {
        display: none;
    }

    img {
        width: 140px;
        height: 140px;
        margin-top: -34px;
    }
}

.about-4-section-content {
    margin-top: 306px;
    margin-bottom: 588px;
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 1fr 625px;

    @media #{$lg} {
        margin-top: 26px;
        margin-bottom: 58px;
        grid-template-columns: 1fr;

    }

    .text {
        font-family: var(--font-bdogrotesk);
        font-weight: 400;
        font-size: 30px;
        line-height: 1;
        letter-spacing: -0.05em;
        color: var(--primary);

        @media #{$lg} {
            font-size: 20px;

        }
    }

    .btn-wrapper {
        margin-top: 36px;
    }
}

/* client area 4 style  */
.clients-4-wrapper-box {
    border-top: 1px solid rgba(17, 17, 17, 0.15);
    padding-top: 44px;
    padding-bottom: 44px;
}

.clients-4-wrapper {
    display: flex;
    gap: 0 30px;
    justify-content: space-between;
    padding: 0 50px;
}

/* service area 4 style  */
.service-area-4-inner {
    margin-top: 40px;
}

.service-4-section-header {
    .section-title {
        text-indent: 260px;
    }

    .title-wrapper {
        margin-top: -48px;
    }
}

.services-4-wrapper-box {
    margin-top: -6px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 43px;
    display: grid;
    gap: 0 60px;
    grid-template-columns: 1fr 850px;

    @media #{$lg} {
        grid-template-columns: 1fr;

    }

    .jump-section-area {
        margin-top: 7px;

        @media #{$lg} {
            display: none;
        }
    }
}

.services-4-wrapper {
    display: grid;
    gap: 37px 60px;
    grid-template-columns: repeat(2, 380px);
}

.service-box-4 {
    .content {
        display: grid;
        gap: 20px 30px;
        grid-template-columns: 130px 1fr;
    }

    .title {
        font-family: var(--font_bdogrotesk);
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.05em;
        margin-top: 4px;
    }

    .service-list {
        li {
            font-family: var(--font_bdogrotesk);
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.05em;
            color: #555555;
        }
    }
}