/* digital agency page css */
.body-digital-agency {
    background-color: #FFFFFF;
    color: var(--secondary);

    .container {

        &.large {
            @media (min-width: 1640px) {
                max-width: 1640px;
            }
        }
    }

    .section-title {
        font-size: 90px;

        @media #{$xxl} {
            font-size: 80px;
        }

        @media #{$xl} {
            font-size: 60px;
        }

        @media #{$lg} {
            font-size: 50px;
        }

        @media #{$md} {
            font-size: 40px;
        }

        @media #{$sm} {
            font-size: 35px;
        }
    }
}



/* hero area style  */
.hero-area {
    background-color: var(--black);
    position: relative;
    z-index: 1;

    .area-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(24, 34, 41, 0.7);
            top: 0;
            left: 0;
            z-index: 0;
        }

        .hero-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }




    .hero-area-inner {
        position: relative;
        padding-top: 506px;
        padding-bottom: 89px;
    }

    .section-content {

        .section-title {
            font-weight: 400;
            font-size: 140px;
            line-height: 135px;
            letter-spacing: -0.07em;
            max-width: 740px;
            color: var(--white);
        }

        .text {
            font-family: var(--font_bdogrotesk);
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.05em;
            color: var(--white);
            max-width: 355px;
        }

        .text-wrapper {
            margin-bottom: 5px;
        }

        .section-title-wrapper {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: flex-end;
        }

    }





    .meta-list {
        padding-top: 20px;
        max-width: 780px;
        width: 780px;

        position: absolute;
        top: 0;
        right: 0;

        ul {
            display: grid;
            gap: 30px 50px;
            grid-template-columns: repeat(2, 1fr);

        }

        li {
            font-family: var(--font_bdogrotesk);
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.07em;
            color: var(--white);
            padding-top: 23px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}