/* digital agency page css */
.body-digital-agency {
    background-color: #FFFFFF;
    color: var(--secondary);

    .container {

        &.large {
            @media (min-width: 1640px) {
                max-width: 1640px;
            }
        }
    }

    .section-title {
        font-size: 90px;
        letter-spacing: -0.05em;

        @media #{$xxl} {
            font-size: 80px;
        }

        @media #{$xl} {
            font-size: 60px;
        }

        @media #{$lg} {
            font-size: 50px;
        }

        @media #{$md} {
            font-size: 40px;
        }

        @media #{$sm} {
            font-size: 35px;
        }
    }
}



/* hero area style  */
.hero-area {
    background-color: var(--black);
    position: relative;
    z-index: 1;

    .area-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(24, 34, 41, 0.7);
            top: 0;
            left: 0;
            z-index: 0;
        }

        .hero-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }




    .hero-area-inner {
        position: relative;
        padding-top: 506px;
        padding-bottom: 89px;
    }

    .section-content {

        .section-title {
            font-weight: 400;
            font-size: 140px;
            line-height: 135px;
            letter-spacing: -0.07em;
            max-width: 740px;
            color: var(--white);
        }

        .text {
            font-family: var(--font_bdogrotesk);
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.05em;
            color: var(--white);
            max-width: 355px;
        }

        .text-wrapper {
            margin-bottom: 5px;
        }

        .section-title-wrapper {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: flex-end;
        }

    }





    .meta-list {
        padding-top: 20px;
        max-width: 780px;
        width: 780px;

        position: absolute;
        top: 0;
        right: 0;

        ul {
            display: grid;
            gap: 30px 50px;
            grid-template-columns: repeat(2, 1fr);

        }

        li {
            font-family: var(--font_bdogrotesk);
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.07em;
            color: var(--white);
            padding-top: 23px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}

/* about area 2 style  */
.about-area-2 {
    .section-header {
        margin-top: 22px;
    }

    .section-title {
        max-width: 925px;
        text-indent: 1.89em;
        margin-left: auto;
    }

    .section-content-wrapper {
        margin-top: 86px;
        display: grid;
        gap: 40px 60px;
        grid-template-columns: 685px 605px;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;

        .area-shape-1 {
            position: absolute;
            left: 44%;
            bottom: 34%;
        }
    }

    .section-subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 38px;
        letter-spacing: -0.02em;
        display: inline-block;
        color: var(--primary);
    }

    .subtitle-wrapper {
        padding-top: 18px;
        border-top: 2px solid var(--primary);
    }

    .section-subtitle-wrapper {
        margin-top: 8px;
        display: grid;
        gap: 30px 30px;
        grid-template-columns: 1fr 300px;
    }

    .thumb {
        border-bottom-right-radius: 300px;
        overflow: hidden;
    }

    .section-content {

        .text {
            font-weight: 400;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: -0.02em;
            color: var(--primary);

            &:not(:first-child) {
                margin-top: 34px;
            }
        }

        .btn-wrapper {
            margin-top: 40px;
        }
    }
}


/* work area style  */
.work-area {

    .work-header-meta {
        display: grid;
        gap: 0px 60px;
        grid-template-columns: 1fr 2fr 1fr;
        justify-content: space-between;
        margin-top: 37px;

        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 38px;
            letter-spacing: -0.02em;
            color: var(--primary);

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: end;
            }
        }
    }

    .section-header {
        margin-top: 54px;
        margin-bottom: 15px;
    }

    .section-title {
        font-weight: 600;
        font-size: 420px;
        line-height: 0.73;
        letter-spacing: -0.08em;
        text-transform: uppercase;

        span {
            display: block;

            &:nth-child(2) {
                margin-top: 30px;
                text-align: right;
            }

        }
    }

    .works-wrapper {
        display: grid;
        gap: 85px 10px;
        grid-template-columns: repeat(2, 1fr);

        @media #{$xxl} {
            gap: 65px 10px;
        }

        @media #{$lg} {
            gap: 45px 10px;
        }

        @media #{$sm} {
            grid-template-columns: repeat(1, 1fr);
        }

        >* {
            &.span-2 {
                grid-column: span 2;

                @media #{$sm} {
                    grid-column: auto;
                }
            }
        }
    }

    .work-box {
        .thumb {
            border-radius: 15px;
            overflow: hidden;

            img {
                width: 100%;
                cursor: none;
            }
        }

        .content {
            margin-top: 24px;

            @media #{$lg} {
                margin-top: 14px;

            }
        }

        .title {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.05em;

            @media #{$lg} {
                font-size: 18px;
            }
        }

        .tag {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.05em;
            display: block;
            font-family: var(--font_bdogrotesk);
            color: var(--primary);

            @media #{$lg} {
                font-size: 18px;
            }
        }

        .date {

            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.05em;
            display: block;
            font-family: var(--font_bdogrotesk);
            color: var(--primary);

            @media #{$lg} {
                font-size: 18px;
            }
        }
    }
}

/* team area style  */
.team-area {
    background-color: var(--black);

    .section-title {
        max-width: 665px;
        color: var(--white);
    }

    .section-header {
        margin-top: 22px;
    }

    .team-wrapper-box {
        margin-top: 94px;
    }

    .team-wrapper {
        display: grid;
        gap: 60px 140px;
        grid-template-columns: repeat(4, 1fr);
    }

    .team-box {
        text-align: center;

        &:hover {
            .thumb {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .thumb {
            width: 100%;
            aspect-ratio: 100/100;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.5s;
            }
        }

        .name {
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            letter-spacing: -0.05em;
            color: var(--white);

            a:hover {
                color: var(--white);
            }
        }

        .post {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: -0.02em;
            display: inline-block;
            color: #999999;
        }

        .content {
            margin-top: 20px;
        }

    }


    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 50px 0;

        a {
            font-family: var(--font_bdogrotesk);
            font-weight: 400;
            font-size: 24px;
            line-height: 1.33;
            letter-spacing: -0.05em;
            text-align: center;
            color: var(--white);
            max-width: 165px;
            text-decoration: none;
            display: inline-block;

            @media #{$md} {
                font-size: 20px;
                max-width: 135px;
            }

            &:hover {
                .underline {
                    background-size: 0% 100%;
                }
            }
        }

        .underline {
            width: calc(100%);
            background-image: linear-gradient(transparent calc(100% - 1px), var(--white) 1px);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: background-size 1s;
            background-position: 0 -2px;
        }
    }



}




/* marquee text area style  */
.marquee-text-area {
    background-color: var(--black);
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    .section-title {
        font-size: 280px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.07em;
        white-space: nowrap;
        margin-bottom: 50px;
        color: var(--white);

        @media #{$xxl} {
            font-size: 210px;
            margin-bottom: 40px;
        }

        @media #{$xl} {
            font-size: 200px;
        }

        @media #{$lg} {
            font-size: 150px;
            margin-bottom: 30px;
        }

        @media #{$md} {
            font-size: 110px;
            margin-bottom: 20px;
        }

        @media #{$sm} {
            font-size: 90px;
        }

        @media #{$xs} {
            font-size: 60px;
            margin-bottom: 10px;
        }
    }

    .moving-text {
        width: 100%;
    }
}