/* header area style  */
.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: inline-flex;
        align-items: center;
        gap: 30px;
        position: relative;
        height: 75px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 70px;
        padding: 0 30px 0 30px;
        margin-top: 20px;

        @media #{$lg} {
            display: flex;
        }
    }

    .container {
        &.large {
            @media (min-width: 1650px) {
                max-width: 1650px;
            }
        }



    }

    .sticky,
    .transformed {
        background-color: #FFFFFF;
    }

    .header__logo {

        img {
            width: 100px;
        }
    }


    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        padding: 29px 14px;
        color: var(--white);

        @media #{$xl} {
            padding: 29px 10px;
        }

        &:hover {
            color: var(--white);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__navicon {
        margin-left: auto;

        i {
            font-size: 22px;
            color: var(--white);
        }
    }

}

/* header area 2 style  */
.header-area-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        height: 80px;

        @media #{$lg} {
            height: 70px;
            gap: 10px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }


    .sticky,
    .transformed {
        background-color: #FCF7F3;
    }

    .header__logo {

        img {
            width: 100px;
        }
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 500;
        padding: 21px 17px;

        &:hover {
            color: var(--secondary);
        }
    }

    .side-toggle {
        .bar-icon {
            width: 25px;
            height: 12px;

            span {
                background-color: var(--primary);
                height: 2px;
                border-radius: 500px;

                &:nth-child(1) {
                    margin-left: 7px;
                    width: 18px;
                }

                &:nth-child(3) {
                    margin-left: 17px;
                    width: 8px;
                }
            }
        }
    }
}

// inner-page header style
.header-inner {

    .header-area-2 {

        &__inner {
            border-bottom: 1px solid rgba(17, 17, 17, 0.10);
        }

    }

    .header__navicon {
        gap: 10px;
        display: flex;
        align-items: center;

        .rr-btn {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            padding: 11.5px 23px;
            letter-spacing: -0.64px;

            @media #{$xs} {
                display: none;
            }
        }
    }

    .side-toggle {
        .bar-icon {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            border-radius: 500px;
            justify-content: center;
            border: 1px solid rgba(17, 17, 17, 0.40);

            img {
                width: 15px;
            }
        }
    }

}

/* header area 3 style  */
.header-area-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        height: 100px;
        padding: 20px 25px 20px 30px;
        margin-top: 10px;
        border-radius: 20px;
        width: 950px;

        @media #{$xxl} {
            width: 700px;
        }

        @media #{$lg} {
            width: 500px;
            height: 80px;
            padding: 10px 20px 10px 20px;
        }

        @media #{$md} {
            width: 100%;
        }

    }


    .sticky,
    .transformed {
        background-color: #FFFFFF;
    }

    .header__logo {

        img {
            width: 100px;
        }
    }


    .main-menu li a {
        font-size: 16px;
        font-weight: 500;
        padding: 29px 10px;
        color: var(--white);

        &:hover {
            color: var(--white);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .rr-btn {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 22px 32px;
        border-radius: 20px;
        border: none;

        &:hover {
            background-color: rgba(255, 216, 12, 1);
        }

        &:before {
            background-color: rgba(255, 216, 12, 1);
        }
    }

    .header__logo {
        margin-right: auto;
    }

    .header__btn {

        @media #{$xs} {
            display: none;
        }
    }

    .header__navicon {
        position: relative;
    }

    .side-toggle {
        width: 60px;
        height: 60px;
        border: 1px solid rgba(17, 17, 17, 0.15);
        border-radius: 20px;
        transition: all 0.5s;


        &:hover {
            background-color: #FFD80C;
            border-color: transparent;
        }
    }

    // .offcanvas-3 {
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     height: auto;
    //     transform-origin: top right;
    //     will-change: transform;
    //     translate: none;
    //     rotate: none;
    //     scale: none;
    //     transform: scale(0.1, 0.1);
    //     // filter: blur(20px);
    //     opacity: 0;
    //     border-radius: 20px;
    //     pointer-events: none;
    //     transform: translate3d(0, 0, 0) scale(0.1);
    //     transition:
    //         opacity 0.3s ease,
    //         clip-path 1.2s cubic-bezier(.19, 1, .22, 1);
    //     clip-path: inset(0%);

    //     &.info-open {
    //         opacity: 1;
    //         transform: translateX(0);
    //         translate: none;
    //         rotate: none;
    //         scale: none;
    //         transform-origin: 100% 0%;
    //         transform: scale(1, 1);
    //         filter: none;
    //         opacity: 1;
    //         pointer-events: auto;
    //     }
    // }

    .offcanvas-3 {
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
        border-radius: 20px;
        opacity: 0;
        clip-path: rect(0px 500px 60px 440px round 20px);
        transform: translate3d(0, 0, 0) scale(0.1);
        transform-origin: 100% 0%;
        will-change: transform, opacity, clip-path, filter;
        transition: opacity 0.3s ease, clip-path 0.8s cubic-bezier(.19, 1, .22, 1), transform 0.8s cubic-bezier(.19, 1, .22, 1), filter 0.6s ease;
        pointer-events: none;


        &.info-open {
            opacity: 1;
            clip-path: rect(0 100% 100% 0 round 20px);
            transform: translate3d(0, 0, 0) scale(1);
            filter: none;
            pointer-events: auto;

        }
    }

}

/* header area 4 style  */
.header-area-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        height: 80px;
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    }


    .sticky,
    .transformed {
        background-color: #FFFFFF;
    }

    .header__logo {

        img {
            width: 100px;
        }
    }

    .header__nav {
        margin-right: 90px;
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 500;
        padding: 32px 25px;
        text-transform: uppercase;

        &:hover {
            color: var(--primary);
        }
    }

    .main-menu>ul>li {
        &:hover {
            >a {
                color: var(--primary);
            }
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .rr-btn {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.04em;
        padding: 15px 26px;
        border-radius: 50px;
    }

    .header__logo {
        margin-right: auto;
    }

    .header__btn {

        @media #{$xs} {
            display: none;
        }
    }

    .side-toggle {
        width: 46px;
        height: 46px;
        border: 1px solid rgba(17, 17, 17, 0.4);
        border-radius: 50%;
        transition: all 0.5s;

        &:hover {
            background-color: #FFD80C;
            border-color: transparent;
        }
    }

}

/* header area 5 style  */
.header-area-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;


    &__inner {
        display: flex;
        margin-top: 30px;
        gap: 10px;
        position: relative;
    }

    .header__logo {

        img {
            width: 100px;
        }
    }

    .header__nav {
        margin-left: 832px;
        margin-right: auto;

        @media #{$xl} {
            margin-left: 700px;
        }

        @media #{$lg} {
            margin-left: 0px;
        }
    }

    .main-menu {

        ul {
            display: block;

            li a {

                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                padding: 0;

                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    .main-menu>ul>li {
        &:hover {
            >a {
                color: var(--secondary);
            }
        }
    }

    .rr-btn {
        border-radius: 15px;
        padding: 14px 25px;

        .text-one,
        .text-two {
            font-size: 16px;
            font-weight: 500;

            &::before {
                content: "";
                bottom: 0;
                width: 100%;
                left: 0;
                height: 1px;
                position: absolute;
                transition: all 0.3s;
                background-color: var(--black);
            }
        }

        .text-two {

            &::before {
                background-color: var(--white);
            }
        }


    }


    .header__btn {

        @media #{$xs} {
            display: none;
        }
    }

    .side-toggle {
        width: 46px;
        height: 46px;
        border: 1px solid rgba(17, 17, 17, 0.4);
        border-radius: 50%;
        transition: all 0.5s;

        &:hover {
            background-color: #FFD80C;
            border-color: transparent;
        }
    }

}

/* header area 7 style  */
.header-area-7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #F8F2EF;

    &__inner {
        display: flex;
        align-items: center;
        gap: 98px;
        position: relative;
        height: 80px;

        @media #{$lg} {
            height: 70px;
            gap: 10px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }


    .sticky,
    .transformed {
        background-color: #F8F2EF;
    }

    .header__logo {

        img {
            width: 100px;
        }
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 500;
        padding: 21px 24px;
        text-transform: uppercase;

        &:hover {
            color: var(--secondary);
        }
    }

    .header__navicon {
        gap: 10px;
        display: flex;
        align-items: center;

        .rr-btn {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            padding: 11.5px 23px;
            letter-spacing: -0.64px;

            @media #{$xs} {
                display: none;
            }
        }
    }

    .side-toggle {
        .bar-icon {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            border-radius: 500px;
            justify-content: center;
            border: 1px solid rgba(17, 17, 17, 0.40);

            img {
                width: 15px;
            }
        }
    }
}


// Icon draw
.bar-icon {
    width: 26px;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    display: flex;
    transition: color .2s ease-out;

    span {
        width: 100%;
        height: 2px;
        background: var(--primary);
        display: inline-block;
        transition: color .2s ease-out;

        &:nth-child(2) {
            margin-left: 0px;
        }
    }

    &:hover {
        span {
            animation: qode-draw .8s cubic-bezier(.44, 1.1, .53, .99) 1 forwards;

            &:nth-child(2) {
                margin-left: 0px;
                animation-delay: .1s;
            }

            &:nth-child(3) {
                animation-delay: .2s;
            }
        }
    }

    &.is-black {
        span {
            background: var(--rr-common-black);
        }
    }

    &.is-white {
        span {
            background: var(--rr-common-white);
        }
    }
}

// Animate offcanvas draw
@keyframes qode-draw {

    0%,
    100% {
        -webkit-clip-path: inset(-2px 0);
        clip-path: inset(-2px 0)
    }

    42% {
        -webkit-clip-path: inset(-2px 0 -2px 100%);
        clip-path: inset(-2px 0 -2px 100%)
    }

    43% {
        -webkit-clip-path: inset(-2px 100% -2px 0);
        clip-path: inset(-2px 100% -2px 0)
    }
}



/* header area 6 style  */
.header-area-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        height: 90px;

        @media #{$lg} {
            height: 80px;
            border-bottom: 1px solid rgba(17, 17, 17, 0.1);
        }
    }

    .sticky,
    .transformed {
        background-color: #FFFFFF;
    }

    .header__logo {

        img {
            width: 100px;
        }
    }

    .header__logo {
        margin-right: auto;
    }

    .side-toggle {
        width: 46px;
        height: 46px;
        border: 1px solid rgba(17, 17, 17, 0.4);
        border-radius: 50%;
        transition: all 0.5s;

        &:hover {
            background-color: #FFD80C;
            border-color: transparent;
        }
    }
}