.hero-7-area {

    .hero-7-area-inner {
        padding-top: 160px;
        padding-bottom: 120px;

        @media #{$md} {
            padding-top: 140px;
            padding-bottom: 100px;
        }

        @media #{$sm} {
            padding-top: 120px;
            padding-bottom: 60px;
        }
    }

    .hero-7-area-content {

        .hero-7-area-title {
            font-size: 180px;
            font-weight: 200;
            line-height: 170px;
            color: var(--primary);
            text-align: center;
            text-transform: uppercase;
            font-family: var(--font_ppeditor);

            @media #{$xxl} {
                font-size: 160px;
                line-height: 150px;
            }

            @media #{$xl} {
                font-size: 130px;
                line-height: 120px;
            }

            @media #{$lg} {
                font-size: 110px;
                line-height: 110px;
            }

            @media #{$md} {
                font-size: 80px;
                line-height: 80px;
            }

            @media #{$sm} {
                font-size: 60px;
                line-height: 65px;
            }

            @media #{$xs} {
                font-size: 40px;
                line-height: 55px;

                br {
                    display: none;
                }
            }

            .sub-title-holder {
                position: relative;
                display: inline-block;
            }

            .sub-title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 131px;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                color: var(--primary);
                letter-spacing: -0.7px;
                display: inline-block;
                text-align: left;
                text-transform: uppercase;
                font-family: var(--font_bdogrotesk);

                @media #{$sm} {
                    position: inherit;
                }

                @media #{$xs} {
                    display: none;
                }

                &.right-position {
                    right: 30px;
                    left: auto;
                    max-width: 123px;

                    @media #{$md} {
                        right: 10px;
                    }

                    @media #{$xs} {
                        right: inherit;
                    }
                }
            }

        }

        .mobile-text {
            display: flex;
            flex-direction: column;
            align-items: center;


            span {
                text-align: center;
                width: 131px;
                display: none;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                margin-top: 10px;
                color: var(--primary);
                letter-spacing: -0.7px;
                text-transform: uppercase;
                font-family: var(--font_bdogrotesk);

                @media #{$xxl} {
                    display: none;
                }

                @media #{$xs} {
                    display: block;
                }
            }
        }
    }
}

.hero-area-7 {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-wrapper {
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    overflow-y: clip;
    justify-content: center;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 650px;
    display: block;
}

.label-left,
.label-right {
    top: 50%;
    opacity: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    white-space: nowrap;
    color: var(--primary);
    letter-spacing: -0.7px;
    text-transform: uppercase;
    transform: translateY(-50%);
    font-family: var(--font_bdogrotesk);
}

.label-left {
    left: -60px;
}

.label-right {
    right: -60px;
}

.section-4-title-wrapper {
    display: grid;
    grid-template-columns: 1fr 971px;
    gap: 30px;

    @media #{$xxl} {
        grid-template-columns: 1fr 870px;
    }

    @media #{$xl} {
        grid-template-columns: 1fr 750px;
    }

    @media #{$lg} {
        grid-template-columns: 1fr;
    }

    // @media #{$md} {
    //     grid-template-columns: 1fr;
    // }

    .section-4-subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: var(--primary);
        letter-spacing: -0.7px;
        text-transform: uppercase;
        font-family: var(--font_bdogrotesk);

        span {
            color: #999;
        }
    }

    .section-4-title {
        font-size: 60px;
        font-weight: 200;
        line-height: 60px;
        color: var(--primary);
        text-transform: uppercase;
        font-family: var(--font_ppeditor);

        @media #{$xl} {
            font-size: 60px;
            line-height: 60px;
        }

        @media #{$lg} {
            font-size: 50px;
            line-height: 50px;

            br {
                display: none;
            }
        }

        @media #{$md} {
            font-size: 45px;
        }

        @media #{$xs} {
            font-size: 25px;
            line-height: 30px;
        }
    }
}

.about-uss-7 {

    .about-uss-7-inner {
        padding-top: 40px;
        border-top: 1px solid rgba(17, 17, 17, 0.15);
    }

    &__wrapper {
        gap: 50px 163px;
        display: grid;
        margin-top: 20px;
        padding-top: 150px;
        grid-template-columns: 1fr 970px;

        @media #{$xxl} {
            gap: 50px 150px;
            grid-template-columns: 1fr 870px;
            padding-top: 100px;
        }

        @media #{$xl} {
            gap: 50px 60px;
            grid-template-columns: 1fr 750px;
            padding-top: 80px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr;
            margin-top: 0;
            padding-top: 60px;
        }

        @media #{$sm} {
            padding-top: 40px;
        }

        @media #{$sm} {
            padding-top: 20px;
        }

        >* {
            &:nth-child(1) {

                @media #{$lg} {
                    gap: 50px;
                    flex-direction: row;
                }

                @media #{$sm} {
                    gap: 50px;
                    flex-direction: column;
                }

                .media {
                    @media #{$lg} {
                        width: 300px;
                        min-width: 300px;
                    }

                    img {
                        @media #{$lg} {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            &:nth-child(2) {
                margin-top: -35px;

                @media #{$lg} {
                    margin-top: 0;
                    flex-direction: column;
                }
            }

        }
    }

    &__box {
        display: flex;
        flex-direction: column;

        h6 {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            margin-bottom: 20px;
            letter-spacing: -0.7px;
            text-transform: uppercase;

        }
    }

    &__content {
        margin-top: auto;
        max-width: 420px;
        margin-left: auto;

        @media #{$xl} {
            margin-top: 130px;
        }

        @media #{$lg} {
            margin-top: 0;
            margin-right: auto;
            margin-left: inherit;
            max-width: 100%;
        }

        .over {
            font-size: 180px;
            font-weight: 200;
            line-height: 28px;
            margin-bottom: 70px;
            font-family: var(--font_ppeditor);

            @media #{$xl} {
                margin-bottom: 50px;
                font-size: 150px;
            }

            @media #{$lg} {
                font-size: 120px;
                line-height: 130px;
                margin-bottom: 20px;
            }

            @media #{$xs} {
                font-size: 80px;
                line-height: 90px;
                margin-bottom: 10px;

            }

            span {
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                margin-right: 17px;
                font-family: var(--font_dmsans);
            }
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            color: var(--primary);
        }

        .text {
            margin-top: 60px;


            @media #{$lg} {
                margin-top: 30px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                text-transform: uppercase;
            }
        }
    }

}

.feature-work-7 {

    .feature-work-7-inner {
        padding-top: 40px;
        border-top: 1px solid rgba(17, 17, 17, 0.15);

        .section-3-title-wrapper {

            .sub-title {}
        }
    }

    .feature-work-7-wrapper {
        padding-top: 110px;

        @media #{$xl} {
            padding-top: 80px;
        }

        @media #{$lg} {
            padding-top: 40px;
        }

        @media #{$md} {
            padding-top: 20px;
        }

        @media #{$sm} {
            padding-top: 0px;
        }

        >* {
            gap: 30px;
            display: grid;
            padding-top: 40px;
            grid-template-columns: 235px 554px 1fr;

            @media #{$xl} {
                grid-template-columns: 235px 454px 1fr;
            }

            @media #{$lg} {
                grid-template-columns: 120px 354px 1fr;
            }

            @media #{$md} {
                grid-template-columns: 80px 300px 1fr;
            }

            @media #{$sm} {
                grid-template-columns: 50px 220px 1fr;
            }

            @media #{$xs} {
                gap: 20px;
                padding-top: 20px;
                grid-template-columns: 1fr;
            }
        }
    }

    .feature-work-7-item {

        &:not(:last-child) {
            padding-bottom: 40px;
            border-bottom: 1px solid rgba(17, 17, 17, 0.15);
        }

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            color: var(--primary);
            letter-spacing: -0.7px;
            text-transform: uppercase;
            font-family: var(--font_bdogrotesk);
        }

        .content {
            .title {
                font-size: 60px;
                font-weight: 200;
                line-height: 60px;
                margin-bottom: 6px;
                color: var(--primary);
                text-transform: uppercase;
                font-family: var(--font_ppeditor);

                @media #{$lg} {
                    font-size: 50px;
                }

                @media #{$md} {
                    font-size: 40px;
                    line-height: 50px;
                }

                @media #{$sm} {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            p {
                color: #111;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: -0.7px;
                text-transform: uppercase;
                font-family: var(--font_bdogrotesk);
            }
        }

        .media {

            img {}
        }
    }
}

.award-area-7 {

    .award-inner {
        gap: 30px;
        display: grid;
        padding-top: 40px;
        grid-template-columns: 820px 1fr;
        border-top: 1px solid rgba(17, 17, 17, 0.15);

        @media #{$xxl} {
            grid-template-columns: 720px 1fr;
        }

        @media #{$xl} {
            grid-template-columns: 500px 1fr;
        }

        @media #{$lg} {
            grid-template-columns: 250px 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
        }

        .award-section {
            .title {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: -0.7px;
                text-transform: uppercase;
            }
        }

        .award-content {

            .award-list {
                li {
                    display: flex;
                    font-size: 60px;
                    font-weight: 200;
                    line-height: 60px;
                    color: var(--primary);
                    align-items: baseline;
                    text-transform: uppercase;
                    font-family: var(--font_ppeditor);

                    @media #{$lg} {
                        font-size: 50px;
                    }

                    @media #{$md} {
                        font-size: 45px;
                        line-height: 55px;
                    }

                    @media #{$sm} {
                        font-size: 35px;
                        line-height: 50px;
                    }

                    @media #{$xs} {
                        font-size: 30px;
                        line-height: 30px;
                        flex-wrap: wrap;
                        margin-bottom: 20px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        color: var(--primary);
                        letter-spacing: -0.7px;
                        text-transform: uppercase;
                        font-family: var(--font_bdogrotesk);
                    }
                }
            }
        }
    }

    .award-list {
        flex: 3;
        line-height: 1.8;
    }

    .award-list span {
        font-size: 10px;
        margin-left: 8px;
        vertical-align: super;
        color: #555;
    }
}





.fun-fact-area {

    &.fun-fact-7 {
        .fun-fact-area-inner {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        .fun-fact__item {
            position: relative;

            .number {
                font-size: 60px;
                font-weight: 200;
                line-height: 60px;
                text-transform: uppercase;
                font-family: var(--font_ppeditor);
                position: absolute;
                left: 40px;
                bottom: 30px;
            }

            &.has--card {
                background: #F2E9E5;
            }
        }
    }
}

.cta-area-7 {

    .cta-inner {
        padding-bottom: 70px;

        @media #{$xs} {
            padding-bottom: 50px;
        }

        .cta-designation {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: center;
            color: var(--primary);
            letter-spacing: -0.7px;
            text-transform: uppercase;
            font-family: var(--font_bdogrotesk);
        }

        .cta-title {
            font-size: 180px;
            font-weight: 200;
            margin-top: 155px;
            text-align: center;
            line-height: 170px;
            color: var(--primary);
            text-transform: uppercase;
            font-family: var(--font_ppeditor);

            @media #{$xl} {
                font-size: 160px;
                margin-top: 120px;
                line-height: 160px;
            }

            @media #{$lg} {
                font-size: 130px;
                margin-top: 100px;
                line-height: 140px;
            }

            @media #{$md} {
                font-size: 100px;
                margin-top: 70px;
                line-height: 115px;
            }

            @media #{$sm} {
                font-size: 70px;
                margin-top: 50px;
                line-height: 80px;
            }

            @media #{$xs} {
                font-size: 50px;
                margin-top: 20px;
                line-height: 55px;
            }
        }
    }
}

// .our-expertise-7 {
//     z-index: 91;
//     position: relative;
//     position: relative;

//     .our-expertise-7-inner {
//         padding-top: 40px;
//         border-top: 1px solid rgba(17, 17, 17, 0.15);

//         .section-3-title-wrapper {}
//     }

//     .our-expertise-7-wrapper {
//         padding-top: 110px;

//         @media #{$xl} {
//             padding-top: 80px;
//         }

//         @media #{$lg} {
//             padding-top: 40px;
//         }

//         @media #{$md} {
//             padding-top: 20px;
//         }

//         @media #{$sm} {
//             padding-top: 0px;
//         }

//     }

//     &__content {

//         gap: 30px;
//         display: grid;
//         padding-top: 40px;
//         grid-template-columns: 235px 554px 1fr;

//         @media #{$xl} {
//             grid-template-columns: 235px 454px 1fr;
//         }

//         @media #{$lg} {
//             grid-template-columns: 120px 354px 1fr;
//         }

//         @media #{$md} {
//             grid-template-columns: 80px 300px 1fr;
//         }

//         @media #{$sm} {
//             grid-template-columns: 50px 220px 1fr;
//         }

//         @media #{$xs} {
//             gap: 20px;
//             padding-top: 20px;
//             grid-template-columns: 1fr;
//         }

//         &:not(:last-child) {
//             padding-bottom: 40px;
//             border-bottom: 1px solid rgba(17, 17, 17, 0.15);
//         }

//         span {
//             font-size: 14px;
//             font-weight: 400;
//             line-height: 16px;
//             color: var(--primary);
//             letter-spacing: -0.7px;
//             text-transform: uppercase;
//             font-family: var(--font_bdogrotesk);
//         }

//         .title {
//             font-size: 60px;
//             font-weight: 200;
//             line-height: 60px;
//             margin-bottom: 6px;
//             color: var(--primary);
//             text-transform: uppercase;
//             font-family: var(--font_ppeditor);

//             @media #{$lg} {
//                 font-size: 50px;
//             }

//             @media #{$md} {
//                 font-size: 40px;
//                 line-height: 50px;
//             }

//             @media #{$sm} {
//                 font-size: 30px;
//                 line-height: 40px;
//             }
//         }

//         p {
//             color: #111;
//             font-size: 14px;
//             font-weight: 400;
//             line-height: 16px;
//             letter-spacing: -0.7px;
//             text-transform: uppercase;
//             font-family: var(--font_bdogrotesk);
//         }
//     }

//     &__item {
//         .rr-hover-reveal-bg {
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 350px;
//             height: 372px;
//             opacity: 0;
//             margin: -160px 0 0 -125px;
//             overflow: hidden;
//             pointer-events: none;
//             z-index: 999;
//             background-position: center;
//             background-size: cover;
//             background-repeat: no-repeat;
//             transform: scale3d(1, 1, 1);
//             /* start smaller */
//             transition: opacity 0.3s ease,
//                 transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
//         }

//         &:hover {
//             .rr-hover-reveal-bg {
//                 opacity: 1;
//                 transform: scale3d(1, 1, 1);
//                 /* scale up smoothly */

//                 @media #{$md} {
//                     width: 50%;
//                     height: 450px;
//                 }

//                 @media #{$sm} {
//                     width: 50%;
//                     height: 400px;
//                 }

//                 @media #{$xs} {
//                     width: 80%;
//                     height: 300px;
//                 }
//             }
//         }
//     }

// }






// ===============================
.service {

    &__shape-1 {
        left: -489px;
        top: 30px;

        div {
            border-radius: 10px;
            width: 336px;
            height: 336px;
            background: var(--primary);
            opacity: 0.5;
            filter: blur(300px);
        }
    }

    &__shape-2 {
        left: 730px;
        top: 200px;

        div {
            border-radius: 10px;
            background: var(--primary);
            opacity: 0.5;
            filter: blur(300px);
            width: 382px;
            height: 382px;
        }
    }

    &__content-des {
        font-family: var(--rr-ff-robo);
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #FFFFFF;
        opacity: 0.7;
    }

    &__list {

        &-item {
            gap: 30px;
            padding-bottom: 50px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            &:last-child {
                padding-bottom: 0;
                border: 0;
            }

            &:hover {
                .number {
                    opacity: 1;
                }
            }

            .number {
                font-family: var(--rr-ff-robo);
                font-style: normal;
                font-weight: 700;
                font-size: 70px;
                line-height: 80px;
                color: var(--primary);
                opacity: 0.3;
                // @extend %rr-transition-3;
                transition: all 0.3s;
            }

            .text {
                .sub-t {
                    margin-bottom: 5px;
                    display: block;
                    font-family: var(--rr-ff-exo);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: var(--primary);
                }
            }
        }
    }
}

.service__what-we-do-3__text h2 {
    font-family: var(--rr-ff-exo);
    font-style: normal;
    font-weight: 700;
    font-size: 220px;
    line-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90.06deg, rgba(255, 255, 255, 0.1) 0.05%, #FFFFFF 46.84%, rgba(255, 255, 255, 0.1) 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.06;
    margin-bottom: 0;

    @media #{$xxxl} {
        font-size: 180px;
        line-height: 180px;
    }

    @media #{$xxl} {
        font-size: 160px;
        line-height: 160px;
    }

    @media #{$xl} {
        font-size: 150px;
        line-height: 150px;
    }

    @media #{$lg} {
        font-size: 120px;
        line-height: 120px;
    }

    @media #{$md} {
        font-size: 90px;
        line-height: 90px;
    }

    @media #{$sm} {
        font-size: 70px;
        line-height: 70px;
    }

    @media #{$xs} {
        font-size: 50px;
        line-height: 50px;
    }

    // @media #{$xxs} {
    //     font-size: 40px;
    //     line-height: 40px;
    // }
}

.image-reveal-hover-content {

    .hover-reveal__img {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease;
    }

    .loaded .hover-reveal__img {
        opacity: 1;
        visibility: visible;
    }
}