.portfolio-full {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    @media #{$md} {
        height: auto;
    }

    .portfolio-full-inner {
        gap: 20px;
        display: grid;
        height: 100vh;
        margin-top: 80px;
        grid-template-columns: 285px 700px 1fr;

        @media #{$xxl} {
            grid-template-columns: 205px 600px 1fr;
        }

        @media #{$xl} {
            grid-template-columns: 185px 500px 1fr;
        }

        @media #{$lg} {
            grid-template-columns: 185px 400px 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
            height: auto;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 10px;
        border-right: 1px solid rgba(17, 17, 17, 0.10);

        @media #{$md} {
            border-right: none;
        }

        .sub-title {
            font-size: 14px;
            font-weight: 400;
            margin-top: auto;
            line-height: 14px;
            color: var(--black);
            display: inline-block;
            letter-spacing: -0.7px;
            text-transform: uppercase;
            transform: translate(0, -100px);
            font-family: var(--font_bdogrotesk);

            @media #{$md} {
                transform: translate(0, 0px);
            }
        }
    }

    /* Media Block */
    .media {
        display: flex;

        @media #{$md} {
            height: 500px;
            order: 2;
        }

        @media #{$xs} {
            height: 300px;
        }
    }

    .content {
        padding-top: 10px;
        border-left: 1px solid rgba(17, 17, 17, 0.10);
        position: relative;

        @media #{$md} {
            order: 1;
            border-left: none;
        }
    }

    .slider {
        .swiper-slide {
            overflow: hidden;
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;

            .slide-inner {
                position: absolute;
                width: 100%;
                height: 100vh;
                left: 0;
                top: 0;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }

    .swiper-container {
        width: 100%;
        height: 100vh;
        position: relative;

        @media #{$md} {
            // height: 50%;
        }
    }

    .portfolio-full-pagination {
        transform: translate3d(0px, 0%, 0) !important;
        margin-left: 80px;

        @media #{$xxl} {
            margin-left: 20px;
        }

        @media #{$md} {
            margin-left: 0;
        }

        .pagination-bullet {
            margin: 0;
            padding: 0;
            width: 100%;
            width: auto;
            height: auto;
            color: #999999;
            display: block;
            cursor: pointer;
            transition: 0.4s;
            font-size: 110px;
            font-weight: 300;
            line-height: 110px;
            opacity: 1;
            border-radius: 0;
            background: transparent;
            font-family: var(--font_tartuffotrial);

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            @media #{$xxl} {
                font-size: 95px;
                line-height: 95px;
            }

            @media #{$xl} {
                font-size: 75px;
                line-height: 85px;

            }

            @media #{$lg} {
                font-size: 60px;
                line-height: 60px;
            }

            @media #{$xs} {
                font-size: 40px;
                line-height: 40px;
            }

            span {
                color: var(--black);
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                display: inline-block;
                color: #999999;
                letter-spacing: -0.7px;
                font-family: var(--font_bdogrotesk);
            }

            &:hover {
                color: var(--white);
            }

            &::before {
                content: attr(data-text);
            }

            &.swiper-pagination-bullet-active {
                opacity: 1;
                color: black;
                background: transparent;

                span {
                    color: black;
                }
            }
        }
    }
}