.hero-area-service-details {

    .service-meta {
        z-index: 1;
        display: grid;
        gap: 10px 60px;
        margin-top: 48px;
        position: relative;
        grid-template-columns: 1fr 1045px;

        @media #{$xxl} {
            grid-template-columns: 1fr 845px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 645px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 585px;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
        }

        .serial {
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            display: inline-block;
        }

        .tag {
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            display: inline-block;
        }

        .next-item {
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .section-header {
        display: grid;
        margin-top: -42px;
        justify-content: flex-end;
        grid-template-columns: 792px;

        @media #{$md} {
            margin-top: 30px;
            grid-template-columns: 1fr;
        }

        .title-wrapper {

            .section-title {
                font-size: 90px;
                font-weight: 400;
                line-height: 85px;
                letter-spacing: -4.5px;

                @media #{$lg} {
                    font-size: 70px;
                    line-height: 80px;
                    letter-spacing: 0;
                }

                @media #{$md} {
                    font-size: 60px;
                    line-height: 70px;
                }

                @media #{$sm} {
                    font-size: 50px;
                    line-height: 60px;
                }

                @media #{$xs} {
                    font-size: 40px;
                    line-height: 50px;
                }
            }
        }
    }

    .section-content-wrapper {
        margin-top: 94px;
        display: grid;
        gap: 40px 60px;
        grid-template-columns: 1fr 1045px;

        @media #{$xxl} {
            grid-template-columns: 1fr 845px;
            margin-top: 64px;

        }

        @media #{$xl} {
            grid-template-columns: 1fr 645px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 585px;
            margin-top: 44px;

        }

        @media #{$md} {
            grid-template-columns: 1fr;
        }
    }

    .section-content {
        .text {
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            max-width: 420px;
        }
    }

    .section-thumb {
        img {
            width: 100%;
        }
    }

    .feature-list {
        margin-top: 26px;

        li {
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            color: var(--primary);
            display: flex;
            align-items: center;

            &:before {
                content: "+";
                margin-right: 5px;
            }
        }

    }

}

/* approach area service details style  */
.approach-area-service-details-page {

    .section-header {
        margin-top: 32px;
    }

    .section-title-wrapper {
        display: grid;
        gap: 20px 60px;
        grid-template-columns: 1fr 1125px;
        align-items: flex-end;

        @media #{$xxl} {
            grid-template-columns: 1fr 905px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 675px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 575px;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
        }
    }

    .section-subtitle {
        font-family: var(--font_sequelsansromanbody);
        font-size: 30px;
        font-weight: 310;
        line-height: 1.16;
        letter-spacing: -0.07em;
        color: var(--primary);
        text-transform: unset;

        @media #{$xxl} {
            font-size: 24px;
        }

        @media #{$md} {
            font-size: 18px;

            br {
                display: none;
            }
        }
    }

    .section-title {
        max-width: 875px;

        @media (min-width:1200px) {
            font-size: 50px;
            line-height: 1;
        }
    }

    .approach-wrapper-box {
        margin-top: 94px;
        display: grid;
        gap: 20px 60px;
        grid-template-columns: 1fr 1125px;
        align-items: flex-start;
        margin-bottom: 50px;

        @media #{$xxl} {
            grid-template-columns: 1fr 905px;
            margin-top: 64px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 675px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 575px;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
            margin-top: 44px;
        }

        .steps {
            font-family: var(--font_sequelsansromanbody);
            font-size: 265px;
            font-weight: 310;
            line-height: 0.65;
            letter-spacing: -0.07em;
            color: var(--primary);

            @media #{$xxl} {
                font-size: 205px;
            }

            @media #{$xl} {
                font-size: 165px;
            }

            @media #{$md} {
                display: none;
            }
        }
    }

    .approach-wrapper {
        border-top: 1px dashed #878482;

    }

    .approach-box {
        display: grid;
        gap: 10px 50px;
        grid-template-columns: 60px 1fr 595px;
        align-items: flex-start;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px dashed #878482;

        @media #{$xxl} {
            grid-template-columns: 60px 1fr 395px;
        }

        @media #{$xl} {
            grid-template-columns: 60px 1fr;

        }

        @media #{$md} {
            gap: 10px 30px;

        }

        @media #{$xs} {
            grid-template-columns: 30px 1fr;
        }

        .number {
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            color: var(--primary);

            @media #{$xl} {
                grid-row: span 2;
            }
        }

        .title {
            font-size: 30px;
            font-weight: 310;
            line-height: 30px;
            letter-spacing: -0.07em;

            @media #{$xxl} {
                font-size: 24px;
            }
        }

        .text {
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
        }

    }
}