.work {}

.work-wrapper {}

.work-wrapper {
    display: grid;
    gap: 0px 70px;
    margin-top: 110px;
    grid-template-columns: 1fr 1fr;

    @media #{$md} {
        gap: 0px 50px;
    }

    @media #{$sm} {
        grid-template-columns: 1fr;
        gap: 50px 50px;
    }

    >* {
        &:nth-child(even) {
            margin-top: 150px;

            @media #{$lg} {
                margin-top: 100px;
            }

            @media #{$md} {
                margin-top: 50px;
            }

            @media #{$sm} {
                margin-top: 0px;
            }
        }
    }

    .work-box {


        .thumb {
            border-radius: 15px;
            overflow: hidden;

            img {
                width: 100%;
                cursor: none;
                height: 100%;
                object-fit: cover;

            }
        }

        .content {
            gap: 20px;
            display: flex;
            margin-top: 26px;
            align-items: center;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(17, 17, 17, 0.15);
            justify-content: space-between;

            @media #{$lg} {
                margin-top: 14px;
                flex-wrap: wrap;
            }

            .btn-wrapper {
                .rr-btn {
                    padding: 12px 13px;
                    font-size: 16px;
                    font-weight: 500;
                    background: #F1F1F1;
                    border-color: transparent;

                    i {
                        margin-left: 5px;
                        rotate: -45deg;
                        transition: all 0.3s;
                    }

                    .btn-wrap {

                        .text-one,
                        .text-two {
                            color: var(--primary);
                        }
                    }

                    &:hover {
                        border-color: var(--primary);
                    }

                }
            }
        }

        .title {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.05em;

            @media #{$lg} {
                font-size: 18px;
            }
        }

        .tag {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            display: block;
            letter-spacing: -0.05em;
            font-family: var(--font_bdogrotesk);
            color: var(--primary);

            @media #{$lg} {
                font-size: 18px;
            }
        }

        .date {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.05em;
            display: block;
            font-family: var(--font_bdogrotesk);
            color: var(--primary);

            @media #{$lg} {
                font-size: 18px;
            }
        }
    }
}